<!-- img id="server-img" src="assets/server.svg" -->
<h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-gray-800">Managed Virtual Machines</h1>

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    State
                </th>
                <th scope="col" class="px-6 py-3">
                    Name
                </th>
                <th scope="col" class="px-6 py-3">
                    CPUS
                </th>
                <th scope="col" class="px-6 py-3">
                    Memory
                </th>
                <th scope="col" class="px-6 py-3">
                    Machine Type
                </th>
                <th scope="col" class="px-6 py-3">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700" *ngFor="let vm of available_vms">
                <td class="px-6 py-4">
                    <div *ngIf="isVMRunning(vm.name); else not_running">
                        <div class="h-2.5 w-2.5 rounded-full bg-green-500 mr-2"></div>
                    </div>
                    <ng-template #not_running>
                        <div class="h-2.5 w-2.5 rounded-full bg-red-500 mr-2"></div>
                    </ng-template>
                </td>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{vm.name}}
                </th>
                <td class="px-6 py-4">
                    {{vm.cpu_count}} vCPU(s)
                </td>
                <td class="px-6 py-4">
                    {{vm.memory_size}} MB
                </td>
                <td class="px-6 py-4">
                    {{vm.machine_type}}
                </td>
                <td class="px-6 py-4">
                    <a routerLink="/vminfo/{{vm.name}}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Show</a>
                </td>
            </tr>
        </table>
</div>
